<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="биом, фк пирамида, детский комплекс, детский комплекс пирамида" />
    <meta name="description" content="ФК Пирамида предназначен" />

    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" >
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
    <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/animation.css'%}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    
    
    <title>ФК Пирамида</title>
    
</head>
<body>
    <header>
        <nav class="navbar navbar-dark fixed-top bg-dark mt-3 mb-5 mx-4 py-2 px-2">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">
                <img src="{% static 'media/logo.svg' %}" alt="logo" style="object-fit: contain;">
              </a>
              <div class="align-items-center justify-content-between d-none d-lg-flex">
                <div class="d-flex align-items-center justify-content-center mx-2">
                    <i class="fa-solid fa-phone d-flex align-items-center justify-content-center" style="width: 2rem; height: 2rem; color: #80C4E9;"></i>
                    <a class="a-classe" href="#">8 980-637-27-77<a>
                </div>
                <div class="d-flex align-items-center justify-content-center mx-2">
                    <i class="fa-solid fa-envelope d-flex align-items-center justify-content-center" style="width: 2rem; height: 2rem; color: #80C4E9;"></i>
                    <a class="a-classe" href="#">info@biom.ru<a>
                </div>
                <div class="d-flex align-items-center justify-content-center mx-2">
                    <a href="#" class="btn my-btn btn-lg px-4">Заказать<a></a>
                </div>
              </div>
              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <img src="{% static 'media/logo.svg' %}" alt="logo" style="object-fit: contain;">
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body mt-5">
                  <ul class="navbar-nav justify-content-end flex-grow-1 text-center">
                    <li class="nav-item">
                        <a class="nav-link active fs-4 fw-bold my-2" href="#">Преимущества</a>
                        <a class="nav-link active fs-4 fw-bold my-2" href="#">Фотографии</a>
                        <a class="nav-link active fs-4 fw-bold my-2" href="#">Отзывы</a>
                        <a class="nav-link active fs-4 fw-bold my-2" href="#">Связаться с нами</a>
                    </li>
                  </ul>
                  <div class="d-flex d-lg-none flex-column">
                    <div class="d-flex align-items-center justify-content-center mx-2">
                        <i class="fa-solid fa-phone d-flex align-items-center justify-content-center" style="width: 2rem; height: 2rem; color: #80C4E9;"></i>
                        <a class="a-classe" href="#">8 980-637-27-77<a>
                      </div>
                      <div class="d-flex align-items-center justify-content-center mx-2">
                            <i class="fa-solid fa-envelope d-flex align-items-center justify-content-center" style="width: 2rem; height: 2rem; color: #80C4E9;"></i>
                            <a class="a-classe" href="#">info@biom.ru<a>
                      </div>
                      <div class="d-flex align-items-center justify-content-center mx-2">
                            <a href="#" class="btn my-btn  text-center btn-lg px-4">Заказать<a></a>
                      </div>
                  </div>
                </div>
              </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container mr-10 pt-5 mb-5 pb-5" style="position: relative; height: 100vh;">
            <i class="fa-solid fa-cloud fa-10x cloud-1" style="color:#604CC3; position: absolute; left:-10%; z-index: 0;"></i>
            <i class="fa-solid fa-cloud fa-10x cloud-2 d-none d-lg-block" style="color:#604CC3; position: absolute;position: absolute; bottom: 10%; z-index: 0;"></i>
            <i class="fa-solid fa-cloud fa-10x cloud-3 d-none d-lg-block" style="color:#604CC3; position: absolute;position: absolute; right: 40%; bottom:10%; z-index: 0;"></i>
            <i class="fa-solid fa-cloud fa-10x cloud-4 d-none d-lg-block" style="color:#604CC3; position: absolute;position: absolute; right: 30%; z-index: 0;"></i>
            <i class="fa-solid fa-cloud fa-10x cloud-5" style="color:#604CC3; position: absolute;position: absolute; right: 0; bottom:0; z-index: 0;"></i>
            <i class="fa-solid fa-sun fa-10x sun-1 d-none d-md-block" style="color:#FF7F3E; position: absolute; right: 5%; z-index: 0;"></i>
            <div class="row d-flex align-items-center justify-content-center mt-5 pt-5">
                <div class="col-12 col-md-6 pb-5 pb-md-0">
                    <span class="display-4 roboto-medium" style="z-index: 10; position: relative;">
                        Подарите детям <span style="color:#FF7F3E">радость</span> движения с СК <span style="color:#FF7F3E">"</span>Пирамида<span><span style="color:#FF7F3E">"</span><br>
                        <a href="#" class="btn my-btn  text-center btn-lg px-5">Заказать<a></a>
                    </span>
                </div>
                <div class="col-12 col-md-6 d-flex align-items-center justify-content-center flex-column mt-5 mt-md-0 pt-5 pt-md-0" style="position: relative;">
                    <img src="{% static "media/hero_child.webp" %}" alt="child" style="z-index:1; object-fit: contain; position: relative; height: 100%; width: 100%;">
                    <img src="{% static "media/newspaper.webp" %}" alt="newspaper" style="z-index:0; bottom:40%; object-fit: contain; height: 100%; width: 100%; position: absolute; bottom: 10%;">
                </div>
            </div>
        </div>
        <div class="container selling-container" style="position: relative;">
            <div class="row selling-row d-flex justify-content-center align-items-center">
                <div class="col-12 col-lg-6" style="z-index:1; height:50vh;">
                        <div id="carouselOptions" class="carousel slide" style="height: 100%;">
                            <div class="carousel-inner" style="height: 100%;">
                                <div class="carousel-item active" style="height: 100%;">
                                    <img src="{% static "media/1.webp" %}" alt="" style="height: 100%; width:100%; object-fit:cover; border-radius:16px;">
                                </div>
                                <div class="carousel-item" style="height: 100%;">
                                    <img src="{% static "media/2.webp" %}" alt="" style="height: 100%; width:100%; object-fit:cover; border-radius:16px;">
                                </div>
                                <div class="carousel-item" style="height: 100%;">
                                    <img src="{% static "media/3.webp" %}" alt="" style="height: 100%; width:100%; object-fit:cover; border-radius:16px;">
                                </div>
                                <div class="carousel-item" style="height: 100%;">
                                    <img src="{% static "media/4.webp" %}" alt="" style="height: 100%; width:100%; object-fit:cover; border-radius:16px;">
                                </div>
                                <div class="carousel-item" style="height: 100%;">
                                    <img src="{% static "media/5.webp" %}" alt="" style="height: 100%; width:100%; object-fit:cover; border-radius:16px;">
                                </div>
                                <div class="carousel-item" style="height: 100%;">
                                    <img src="{% static "media/6.webp" %}" alt="" style="height: 100%; width:100%; object-fit:cover; border-radius:16px;">
                                </div>
                                <div class="carousel-item" style="height: 100%;">
                                    <img src="{% static "media/7.webp" %}" alt="" style="height: 100%; width:100%; object-fit:cover; border-radius:16px;">
                                </div>
                                <div class="carousel-item" style="height: 100%;">
                                    <img src="{% static "media/8.webp" %}" alt="" style="height: 100%; width:100%; object-fit:cover; border-radius:16px;">
                                </div>
                                <div class="carousel-item" style="height: 100%;">
                                    <img src="{% static "media/9.webp" %}" alt="" style="height: 100%; width:100%; object-fit:cover; border-radius:16px;">
                                </div>
                                <div class="carousel-item" style="height: 100%;">
                                    <img src="{% static "media/10.webp" %}" alt="" style="height: 100%; width:100%; object-fit:cover; border-radius:16px;">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselOptions" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselOptions" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                </div>
                <div class="col-10 col-lg-4 selling-info d-flex flex-column">
                    <div class="selling-block-1">
                        <div class="row mb-2" style="z-index: 1;">
                            <div class="display-4 fw-bold p-0" style="z-index: 1;">
                                Детский  комплекс <span class="quotes">“</span>Пирамида<span class="quotes">”</span>
                            </div>
                        </div>
                        <div class="row" style="z-index: 1;">
                            <div class="selling-description p-0">
                                <span class="quotes">Развивает</span> моторные навыки ребенка и подвижность. Комплекс создан, чтобы удовлетворить естественную потребность детей в движении. 
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex" style="z-index: 1;">
                        <div class="d-inline-flex align-items-center p-0 selling-complectation-block">
                            <input type="radio" name="radio">
                            <div class="selling-complectaion">С треком</div>
                        </div>
                    </div>
                    <div class="sellign-block-2">
                        <div class="row" style="z-index: 1;">
                            <div class="selling-price p-0">Цена: 20.000р</div>
                        </div>
                        <div class="row">
                            <div class="btn btn-lg my-btn d-flex justify-content-center" style="z-index: 1;">Заказать</div>
                        </div>
                    </div>
                </div>
            </div>
            <i class="fa-regular fa-star star-1 fa-10x" style="position: absolute; top:5%; left: -2%; z-index: 0; color:#80C4E9;"></i>
            <i class="fa-regular fa-star star-2 fa-7x" style="position: absolute; right:2%; bottom: 3%; z-index: 0; color:#80C4E9;"></i>
        </div>
        <div class="container mt-5 pt-5">
            <div class="row">
                <div class="col-12 d-none d-md-block">
                    <div id="carouselVideo" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="d-none d-md-flex flex-row justify-content-center align-items-center">
                                    <img src="{% static "media/galery/galery.jpg" %}" alt="..." style="object-fit: cover; width: 25%; height: auto;">
                                    <img src="{% static "media/galery/galery2.jpg" %}"  alt="..." style="object-fit: cover; width: 25%; height: auto;">
                                    <img src="{% static "media/galery/galery3.jpg" %}" alt="..." style="object-fit: cover; width: 25%; height: auto;">
                                    <img src="{% static "media/galery/galery4.jpg" %}" alt="..." style="object-fit: cover; width: 25%; height: auto;">
                                </div>
                              </div>
                              <div class="carousel-item">
                                <div class="d-none d-md-flex flex-row justify-content-center align-items-center">
                                    <img src="{% static "media/galery/galery5.JPG" %}" alt="..." style="object-fit: cover; width: 25%; height: auto;">
                                    <img src="{% static "media/galery/galery6.JPG" %}"  alt="..." style="object-fit: cover; width: 25%; height: auto;">
                                    <img src="{% static "media/galery/galery7.JPG" %}" alt="..." style="object-fit: cover; width: 25%; height: auto;">
                                    <img src="{% static "media/galery/galery7.JPG" %}" alt="..." style="object-fit: cover; width: 25%; height: auto;">
                                </div>
                              </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselVideo" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselVideo" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-12 d-block d-md-none">
                    <div id="carouselVideoSM" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{% static "media/hero_child.webp" %}" alt="..." style="object-fit: cover; width: 100%; height:100%;">
                              </div>
                              <div class="carousel-item">
                                <img src="{% static "media/hero_child.webp" %}" alt="..." style="object-fit: cover; width: 100%; height:100%;">
                              </div>
                              <div class="carousel-item">
                                <img src="{% static "media/hero_child.webp" %}" alt="..." style="object-fit: cover; width: 100%; height:100%;">
                              </div>
                              <div class="carousel-item">
                                <img src="{% static "media/hero_child.webp" %}" alt="..." style="object-fit: cover; width: 100%; height:100%;">
                              </div>
                              <div class="carousel-item">
                                <img src="{% static "media/hero_child.webp" %}" alt="..." style="object-fit: cover; width: 100%; height:100%;">
                              </div>
                              <div class="carousel-item">
                                <img src="{% static "media/hero_child.webp" %}" alt="..." style="object-fit: cover; width: 100%; height:100%;">
                              </div>
                              <div class="carousel-item">
                                <img src="{% static "media/hero_child.webp" %}" alt="..." style="object-fit: cover; width: 100%; height:100%;">
                              </div>
                              <div class="carousel-item">
                                <img src="{% static "media/hero_child.webp" %}" alt="..." style="object-fit: cover; width: 100%; height:100%;">
                              </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselVideoSM" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselVideoSM" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5 pt-5">
            <div class="row">
                <div class="col-12 d-none d-md-block">
                    <div id="carouselVideo" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="d-none d-md-flex flex-row justify-content-center align-items-center">
                                    <img src="{% static "media/hero_child.webp" %}" alt="..." style="object-fit: cover; width: 25%; height: auto;">
                                    <img src="{% static "media/hero_child.webp" %}"  alt="..." style="object-fit: cover; width: 25%; height: auto;">
                                    <img src="{% static "media/hero_child.webp" %}" alt="..." style="object-fit: cover; width: 25%; height: auto;">
                                    <img src="{% static "media/hero_child.webp" %}" alt="..." style="object-fit: cover; width: 25%; height: auto;">
                                </div>
                              </div>
                              <div class="carousel-item">
                                <div class="d-none d-md-flex flex-row justify-content-center align-items-center">
                                    <img src="{% static "media/hero_child.webp" %}" alt="..." style="object-fit: cover; width: 25%; height: auto;">
                                    <img src="{% static "media/hero_child.webp" %}"  alt="..." style="object-fit: cover; width: 25%; height: auto;">
                                    <img src="{% static "media/hero_child.webp" %}" alt="..." style="object-fit: cover; width: 25%; height: auto;">
                                    <img src="{% static "media/hero_child.webp" %}" alt="..." style="object-fit: cover; width: 25%; height: auto;">
                                </div>
                              </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselVideo" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselVideo" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-12 d-block d-md-none">
                    <div id="carouselVideoSM" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{% static "media/hero_child.webp" %}" alt="..." style="object-fit: cover; width: 100%; height:100%;">
                              </div>
                              <div class="carousel-item">
                                <img src="{% static "media/hero_child.webp" %}" alt="..." style="object-fit: cover; width: 100%; height:100%;">
                              </div>
                              <div class="carousel-item">
                                <img src="{% static "media/hero_child.webp" %}" alt="..." style="object-fit: cover; width: 100%; height:100%;">
                              </div>
                              <div class="carousel-item">
                                <img src="{% static "media/hero_child.webp" %}" alt="..." style="object-fit: cover; width: 100%; height:100%;">
                              </div>
                              <div class="carousel-item">
                                <img src="{% static "media/hero_child.webp" %}" alt="..." style="object-fit: cover; width: 100%; height:100%;">
                              </div>
                              <div class="carousel-item">
                                <img src="{% static "media/hero_child.webp" %}" alt="..." style="object-fit: cover; width: 100%; height:100%;">
                              </div>
                              <div class="carousel-item">
                                <img src="{% static "media/hero_child.webp" %}" alt="..." style="object-fit: cover; width: 100%; height:100%;">
                              </div>
                              <div class="carousel-item">
                                <img src="{% static "media/hero_child.webp" %}" alt="..." style="object-fit: cover; width: 100%; height:100%;">
                              </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselVideoSM" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselVideoSM" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5 pt-5">
            <div class="row">
                <div class="col-12 col-lg-4 characteristic px-5 py-5">
                    <span class="display-6 fw-bold">
                        Характеристики комплекса
                    </span><br>
                    <span class="fs-5">
                        <span style="color:#FF7F3E;">Пять</span> вариантов установки комплекса и <span style="color:#FF7F3E;">навесное оборудование</span> создают новые двигательные возможности для ребенка каждый день. 
                    </span>
                    <div class="d-flex align-items-center mt-4">
                        <i class="fa-solid fa-circle-check fa-2x" style="color:#FF7F3E;"></i>
                        <span> подходит детям от 6 месяцев до 4 лет</span>
                    </div>
                    <div class="d-flex align-items-center mt-3">
                        <i class="fa-solid fa-circle-check fa-2x" style="color:#FF7F3E;"></i>
                        <span> не нуждается в креплении к полу, стенам</span>
                    </div>
                    <div class="d-flex align-items-center mt-3">
                        <i class="fa-solid fa-circle-check fa-2x" style="color:#FF7F3E;"></i>
                        <span> Европейское качество материалов</span>
                    </div>
                    <div class="d-flex align-items-center mt-3">
                        <i class="fa-solid fa-circle-check fa-2x" style="color:#FF7F3E;"></i>
                        <span> продуманная, безопасная конструкция</span>
                    </div>
                    <div class="d-flex align-items-center mt-3">
                        <i class="fa-solid fa-circle-check fa-2x" style="color:#FF7F3E;"></i>
                        <span> для игр в помещениях и на открытом воздухе</span>
                    </div>
                    <div class="d-flex align-items-center mt-3">
                        <i class="fa-solid fa-circle-check fa-2x" style="color:#FF7F3E;"></i>
                        <span> компактная, требует всего 1.3 кв м</span>
                    </div>
                    <div class="btn btn-lg my-btn d-flex justify-content-center mt-3" style="z-index: 1;">Заказать</div>
                    <div class="btn btn-lg my-btn d-flex justify-content-center mt-3" style="z-index: 1; background-color: #80C4E9;">Скачать инструкцию по сборке</div>
                </div>
                
                <div class="col-lg-6 d-none col-md-12 d-lg-block">
                    <img src="{% static "media/galery/galery5.JPG" %}" alt="" style="object-fit: cover; height: 100%; width: 100%;">
                </div>
            </div>
        </div>
        <div class="container mt-5 py-5">
            <div class="row justify-content-center align-items-center">
                <div class="col-12 mb-4 text-center">
                    <span class="display-5">А еще...</span>
                </div>
                <div class="col-12 col-md-4 text-center">
                    <i class="fa-solid fa-child-combatant fa-3x mb-3" style="color:#FF7F3E;"></i><br>
                    <span class="fs-5">Доступна детям с ОВЗ</span>
                </div>
                <div class="col-12 col-md-4 text-center">
                    <i class="fa-solid fa-people-roof fa-3x mb-3" style="color:#FF7F3E;"></i><br>
                    <span class="fs-5">Можно использовать в детских садах</span>
                </div>
                <div class="col-12 col-md-4 text-center">
                    <i class="fa-solid fa-star fa-3x mb-3" style="color:#FF7F3E;"></i><br>
                    <span class="fs-5">Не требует крепления к полу или стене</span>
                </div>
            </div>
        </div>
        <div class="container mt-5 pt-5">
            <div class="row">
                <div class="col-12 mb-4 text-center">
                    <span class="display-5">Варианты установки</span>
                </div>
                <div class="col-12">
                    <div id="carouselVariants" class="carousel slide">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <div class="d-flex flex-column flex-md-row justify-content-center align-items-center">
                                <div class="col-12 col-md-4">
                                    <img src="{% static "media/position/1.webp" %}" alt="..." style="width: 100%; height: 100%; object-fit: cover;">
                                </div>
                                <div class="col-12 col-md-5 ms-md-5 me-md-2 ms-md-0 pt-5 px-5" style="background-color: #604CC3; color: white; border-radius: 32px;">
                                    <span class="fs-2">
                                        Что научится делать ребенок при этом варианте установки<span class="fw-bold" style="color: #FF7F3E;">?</span> 
                                    </span><br>
                                    <span>
                                        Этот вариант предназначен для самых маленьких и поможет укрепить мышцы и крепко стоять на ногах.
                                    </span>
                                    <div class="characteristic px-lg-5 py-5">
                                        <div class="d-flex align-items-center mt-4">
                                            <i class="fa-solid fa-circle-check fa-2x" style="color:#FF7F3E;"></i>
                                            <span> подходит детям от 6 месяцев до 4 лет</span>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <i class="fa-solid fa-circle-check fa-2x" style="color:#FF7F3E;"></i>
                                            <span> не нуждается в креплении к полу, стенам</span>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <i class="fa-solid fa-circle-check fa-2x" style="color:#FF7F3E;"></i>
                                            <span> Европейское качество материалов</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <div class="d-flex flex-column flex-md-row justify-content-center align-items-center">
                                <div class="col-12 col-md-4">
                                    <img src="{% static "media/position/2.webp" %}" alt="..." style="width: 100%; height: 100%; object-fit: cover;">
                                </div>
                                <div class="col-12 col-md-5 ms-md-5 me-md-2 ms-md-0 pt-5 px-5" style="background-color: #604CC3; color: white; border-radius: 32px;">
                                    <span class="fs-2">
                                        Что научится делать ребенок при этом варианте установки<span class="fw-bold" style="color: #FF7F3E;">?</span> 
                                    </span><br>
                                    <span>
                                        Этот вариант предназначен для самых маленьких и поможет укрепить мышцы и крепко стоять на ногах.
                                    </span>
                                    <div class="characteristic px-lg-5 py-5">
                                        <div class="d-flex align-items-center mt-4">
                                            <i class="fa-solid fa-circle-check fa-2x" style="color:#FF7F3E;"></i>
                                            <span> подходит детям от 6 месяцев до 4 лет</span>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <i class="fa-solid fa-circle-check fa-2x" style="color:#FF7F3E;"></i>
                                            <span> не нуждается в креплении к полу, стенам</span>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <i class="fa-solid fa-circle-check fa-2x" style="color:#FF7F3E;"></i>
                                            <span> Европейское качество материалов</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <div class="d-flex flex-column flex-md-row justify-content-center align-items-center">
                                <div class="col-12 col-md-4">
                                    <img src="{% static "media/position/3.webp" %}" alt="..." style="width: 100%; height: 100%; object-fit: cover;">
                                </div>
                                <div class="col-12 col-md-5 ms-md-5 me-md-2 ms-md-0 pt-5 px-5" style="background-color: #604CC3; color: white; border-radius: 32px;">
                                    <span class="fs-2">
                                        Что научится делать ребенок при этом варианте установки<span class="fw-bold" style="color: #FF7F3E;">?</span> 
                                    </span><br>
                                    <span>
                                        Этот вариант предназначен для самых маленьких и поможет укрепить мышцы и крепко стоять на ногах.
                                    </span>
                                    <div class="characteristic px-lg-5 py-5">
                                        <div class="d-flex align-items-center mt-4">
                                            <i class="fa-solid fa-circle-check fa-2x" style="color:#FF7F3E;"></i>
                                            <span> подходит детям от 6 месяцев до 4 лет</span>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <i class="fa-solid fa-circle-check fa-2x" style="color:#FF7F3E;"></i>
                                            <span> не нуждается в креплении к полу, стенам</span>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <i class="fa-solid fa-circle-check fa-2x" style="color:#FF7F3E;"></i>
                                            <span> Европейское качество материалов</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <div class="d-flex flex-column flex-md-row justify-content-center align-items-center">
                                <div class="col-12 col-md-4">
                                    <img src="{% static "media/position/4.webp" %}" alt="..." style="width: 100%; height: 100%; object-fit: cover;">
                                </div>
                                <div class="col-12 col-md-5 ms-md-5 me-md-2 ms-md-0 pt-5 px-5" style="background-color: #604CC3; color: white; border-radius: 32px;">
                                    <span class="fs-2">
                                        Что научится делать ребенок при этом варианте установки<span class="fw-bold" style="color: #FF7F3E;">?</span> 
                                    </span><br>
                                    <span>
                                        Этот вариант предназначен для самых маленьких и поможет укрепить мышцы и крепко стоять на ногах.
                                    </span>
                                    <div class="characteristic px-lg-5 py-5">
                                        <div class="d-flex align-items-center mt-4">
                                            <i class="fa-solid fa-circle-check fa-2x" style="color:#FF7F3E;"></i>
                                            <span> подходит детям от 6 месяцев до 4 лет</span>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <i class="fa-solid fa-circle-check fa-2x" style="color:#FF7F3E;"></i>
                                            <span> не нуждается в креплении к полу, стенам</span>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <i class="fa-solid fa-circle-check fa-2x" style="color:#FF7F3E;"></i>
                                            <span> Европейское качество материалов</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <div class="d-flex flex-column flex-md-row justify-content-center align-items-center">
                                <div class="col-12 col-md-4">
                                    <img src="{% static "media/position/5.webp" %}" alt="..." style="width: 100%; height: 100%; object-fit: cover;">
                                </div>
                                <div class="col-12 col-md-5 ms-md-5 me-md-2 ms-md-0 pt-5 px-5" style="background-color: #604CC3; color: white; border-radius: 32px;">
                                    <span class="fs-2">
                                        Что научится делать ребенок при этом варианте установки<span class="fw-bold" style="color: #FF7F3E;">?</span> 
                                    </span><br>
                                    <span>
                                        Этот вариант предназначен для самых маленьких и поможет укрепить мышцы и крепко стоять на ногах.
                                    </span>
                                    <div class="characteristic px-lg-5 py-5">
                                        <div class="d-flex align-items-center mt-4">
                                            <i class="fa-solid fa-circle-check fa-2x" style="color:#FF7F3E;"></i>
                                            <span> подходит детям от 6 месяцев до 4 лет</span>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <i class="fa-solid fa-circle-check fa-2x" style="color:#FF7F3E;"></i>
                                            <span> не нуждается в креплении к полу, стенам</span>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <i class="fa-solid fa-circle-check fa-2x" style="color:#FF7F3E;"></i>
                                            <span> Европейское качество материалов</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="carousel-item">
                            <div class="d-flex flex-column flex-md-row justify-content-center align-items-center">
                                <div class="col-12 col-md-4">
                                    <img src="{% static "media/position/6.webp" %}" alt="..." style="width: 100%; height: 100%; object-fit: cover;">
                                </div>
                                <div class="col-12 col-md-5 ms-md-5 me-md-2 ms-md-0 pt-5 px-5" style="background-color: #604CC3; color: white; border-radius: 32px;">
                                    <span class="fs-2">
                                        Что научится делать ребенок при этом варианте установки<span class="fw-bold" style="color: #FF7F3E;">?</span> 
                                    </span><br>
                                    <span>
                                        Этот вариант предназначен для самых маленьких и поможет укрепить мышцы и крепко стоять на ногах.
                                    </span>
                                    <div class="characteristic px-lg-5 py-5">
                                        <div class="d-flex align-items-center mt-4">
                                            <i class="fa-solid fa-circle-check fa-2x" style="color:#FF7F3E;"></i>
                                            <span> подходит детям от 6 месяцев до 4 лет</span>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <i class="fa-solid fa-circle-check fa-2x" style="color:#FF7F3E;"></i>
                                            <span> не нуждается в креплении к полу, стенам</span>
                                        </div>
                                        <div class="d-flex align-items-center mt-3">
                                            <i class="fa-solid fa-circle-check fa-2x" style="color:#FF7F3E;"></i>
                                            <span> Европейское качество материалов</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselVariants" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselVariants" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5 pt-5">
            <div class="row align-items-center justify-content-evenly d-flex">
                <div class="col-12 col-lg-3 mt-5 mt-lg-0 d-flex align-items-center justify-content-center flex-column" style="position: relative; height: 100%; padding:0;">
                    <div class="equal-height py-4 px-5" style="background-color: #FB486F; border-radius: 16px;">
                        <span>
                            Благодарю за классный комплекс! Радует то, что интуитивно малыш сам разобрался, что с ним делать. Компактный, можно домик устроить внутри и халабуду))))
                        </span>
                    </div>
                    <div class="d-flex mt-1 mt-lg-2">
                        <img src="{% static "media/man.jpeg" %}" alt="" style="object-fit: cover; width: 3em; height: 3em; border-radius:50%;" class="me-2">
                        <div>
                            <span>Татьяна</span><br>
                            <span class="fs-6">Мать 2 детей</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 mt-5 mt-lg-0 d-flex align-items-center justify-content-center flex-column" style="position: relative; height: 100%; padding:0;">
                    <div class="equal-height py-4 px-5" style="background-color: #3975ee; border-radius: 16px;">
                        <span>
                            Хочу выразить благодарность сотрудникам Андрею и Сергею за помощь в решении моего вопроса по спортивному комплексу “Пирамида”.
                        </span>
                    </div>
                    <div class="d-flex mt-1 mt-lg-2">
                        <img src="{% static "media/man.jpeg" %}" alt="" style="object-fit: cover; width: 3em; height: 3em; border-radius:50%;" class="me-2">
                        <div>
                            <span>Андрей</span><br>
                            <span class="fs-6">Отец</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3 mt-5 mt-lg-0 d-flex align-items-center justify-content-center flex-column" style="position: relative; height: 100%; padding:0;">
                    <div class="equal-height py-4 px-5" style="background-color: #FB486F; border-radius: 16px;">
                        <span>
                            Очень понравился комплекс, сын с удовольствием проводит на нем время! Особенно когда в дождливый день не выйти на площадку
                        </span>
                    </div>
                    <div class="d-flex mt-1 mt-lg-2">
                        <img src="{% static "media/man.jpeg" %}" alt="" style="object-fit: cover; width: 3em; height: 3em; border-radius:50%;" class="me-2">
                        <div>
                            <span>Елена</span><br>
                            <span class="fs-6">Мать 3 детей</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5 pt-5">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <img src="{% static "media/man.jpeg" %}" alt="form-video" style="object-fit: cover; width: 100%; height: 100%; border-radius:16px;">
                </div>
                <div class="col-12 col-lg-6 py-5 px-5" style="background-color:#604CC3; border-radius:16px;">
                    <span class="fw-bold fs-1">Свяжитесь с нами!</span>
                    <form action="" method="post" id="form">
                        {% csrf_token %}
                        <div class="form-group mb-2 mt-3">
                          <input id="phone" aria-label="Номер телефона" type="text" name="phone" placeholder="Номер телефона" class="form-control fs-5">
                          <div class="error text-start fs-5 fw-light"></div>
                        </div>
                        <div class="form-group mb-2">
                          <input id="Email" aria-label="Email" type="text" name="Email" placeholder="Email" class="form-control fs-5">
                          <div class="error text-start fs-5 fw-light"></div>
                        </div>
                        <div class="form-group mb-2">
                          <input id="Telegram" aria-label="Telegram" type="text" name="Telegram" placeholder="Telegram" class="form-control fs-5">
                          <div class="error text-start fs-5 fw-light"></div>
                        </div>
                        <div class="form-group mb-2 mt-5 pt-5" style="background-color: transparent;">
                          <input type="submit" value="Оставить заявку" class="btn btn-primary py-3 px-5 fs-4" style="width: 100%; border-radius:32px; background-color:#FF7F3E;">
                        </div>
                    </form>
                    <span>
                        Нажимая заказать вы соглашаетесь с <a href="#">Политикой Конфиденциальности</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="container mt-5 pt-5">
            <div class="row">
                <div class="col-12" style="max-height:100vh;">
                    <div id="carouselSertificates" class="carousel slide" style="height: 100%;">
                        <div class="carousel-inner" style="height: 100%;">
                            <div class="carousel-item active" style="height: 100%;">
                                <img src="{% static "media/svid/svid.jpg" %}" alt="" style="height: 100%; width:100%; object-fit:contain;">
                            </div>
                            <div class="carousel-item" style="height: 100%;">
                                <img src="{% static "media/svid/svid2.jpg" %}" alt="" style="height: 100%; width:100%; object-fit:contain;">
                            </div>
                            <div class="carousel-item" style="height: 100%;">
                                <img src="{% static "media/svid/svid3.jpg" %}" alt="" style="height: 100%; width:100%; object-fit:contain;">
                            </div>
                            <div class="carousel-item" style="height: 100%;">
                                <img src="{% static "media/svid/svid4.jpg" %}" alt="" style="height: 100%; width:100%; object-fit:contain;">
                            </div>
                            <div class="carousel-item" style="height: 100%;">
                                <img src="{% static "media/svid/svid5.jpg" %}" alt="" style="height: 100%; width:100%; object-fit:contain;">
                            </div>
                            <div class="carousel-item" style="height: 100%;">
                                <img src="{% static "media/svid/svid6.jpg" %}" alt="" style="height: 100%; width:100%; object-fit:contain;">
                            </div>
                            <div class="carousel-item" style="height: 100%;">
                                <img src="{% static "media/svid/svid7.jpg" %}" alt="" style="height: 100%; width:100%; object-fit:contain;">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselSertificates" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselSertificates" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container mt-5" style="background-color: #604CC3; border-radius:16px;">
            <div class="row align-items-center justify-content-center">
                <div style="width: fit-content;">
                    <img src="{% static "media/logo.svg" %}" alt="">
                </div>
                <div style="width: fit-content;" class="ms-5 me-5 d-none d-md-block">
                    <a href="#" style="color:white; text-decoration:none;" class="me-1">
                        Преимущества
                    </a>
                    <a href="#" style="color:white; text-decoration:none;" class="me-1">
                        Фотографии
                    </a>
                    <a href="#" style="color:white; text-decoration:none;" class="me-1">
                        Отзывы
                    </a>
                    <a href="#" style="color:white; text-decoration:none;" class="">
                        Связаться с нами
                    </a>
                </div>
                <div style="width: fit-content;" class="d-flex mb-2 mt-lg-0">
                    <div class="d-flex align-items-center justify-content-center mx-2">
                        <i class="fa-solid fa-envelope d-flex align-items-center justify-content-center" style="width: 2rem; height: 2rem; color: #80C4E9;"></i>
                        <a class="a-classe" href="#">info@biom.ru<a>
                      </div>
                      <div class="align-items-center justify-content-center mx-2 d-none d-md-flex">
                            <i class="fa-solid fa-phone d-flex align-items-center justify-content-center" style="width: 2rem; height: 2rem; color: #80C4E9;"></i>
                            <a class="a-classe" href="#">8 980-637-27-77<a>
                      </div>
                      <div class="d-flex align-items-center justify-content-center mx-2 d-none d-md-block">
                            <a href="#" class="btn my-btn  text-center btn-lg px-4">Заказать<a></a>
                      </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-center">
                <div class="col-12 col-md-6 d-flex align-items-center justify-content-lg-end justify-content-center">
                    <span>
                        ©Все права защищены ООО”Биом” 2024г 
                    </span>
                </div>
                <div class="col-12 col-md-6 d-flex align-items-center justify-content-lg-start justify-content-center">
                    <a href="#" style="color:white; text-decoration:none;">
                        Разработано NES@Agency
                    </a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>

